*{
	margin: 0 auto;
}
body{
	background-color: #406A80;
	font-family: 'Chivo', sans-serif;
}
header{
	height: 150px;
	width: 100%;
	background-color: #F4F4F4;
	text-align: center;
	color: #E7874C;
	padding-top: 20px;
	font-size: 40px;
}
form{
	width: 60%;
	font-size: 40px;
	color: #F4F4F4;
}
form h3{
	margin-top: 40px;
}
form input{
	width: 30%;
	height: 40px;
	position: fixed;
	right: 20%;
	border-radius: 10px;
}
button{
	position: fixed;
	width: 25%;
	right: 22%;
	font-size: 30px;
	color: #3E525E;
	font-weight: bold;
	border: solid black 1px;
	box-shadow: 0px 5px 10px ;
	border-radius: 10px;
	height: 40px;
	margin-top: 20px;
}
footer{
	background-color: #F4F4F4;
	height: 100px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	color: #717476;
	font-size: 20px;
}
footer h3{
	margin-top: 25px;
}